# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# VSCode settings
.vscode/

# Logs and databases
*.log
*.sqlite3
*.db
*.sql

# IDE specific
.idea/

# Python cache
*.pyc

# System specific files
Thumbs.db
